<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="align-items: center; justify-content: center; height: 100%;">
      <ion-col size="12" style="text-align: center;">
        <ion-img src="assets/icon/maintain.svg" style="height: 150px;" alt="Order Sent"></ion-img>
        <h1 style="font-weight: bold;">Under Maintenance</h1>
        <h5 style="font-weight: bold; margin-bottom: 15%;">Sorry, this page is not yet available for viewing.</h5>
        <ion-button fill="solid" color="secondary" expand="block" (click)="goToOrders()">
          Continue Shopping
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
