

<swiper-container slides-per-view="3"  loopedSlides="3"> <!--loop="true" autoplay-delay="2500"  autoplay-disable-on-interaction="false" centered-slides="true"-->
  <swiper-slide>
    <ion-card style="height: 100px; width: 100px; margin: 0;">
      Slide 1
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card style="height: 100px; width: 100px; margin: 0;">
      Slide 2
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card style="height: 100px; width: 100px; margin: 0;">
      Slide 3
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card style="height: 100px; width: 100px; margin: 0;">
      Slide 4
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card style="height: 100px; width: 100px; margin: 0;">
      Slide 5
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card style="height: 100px; width: 100px; margin: 0;">
      Slide 6
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card style="height: 100px; width: 100px; margin: 0;">
      Slide 7
    </ion-card>
  </swiper-slide>
  <swiper-slide>
    <ion-card style="height: 100px; width: 100px; margin: 0;">
      Slide 8
    </ion-card>
  </swiper-slide>
</swiper-container>




