<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{categoryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let prod of filteredProducts">
        <ion-card style="margin: 0;" (click)="productService.goToProductDetails(prod,shopData)" class="ion-activatable ripple-parent rectangle">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-img [src]="getFirstImageRef(prod)" style="height: 180px;padding: 10px;"></ion-img>
          <ion-card-header>
            <div class="prodDetails">
              {{prod.name}}
            </div>
            <div>
              {{getMinMaxPrice(prod)}}
            </div>
            <!-- <app-review-icons [rating]="4.5" [outOf]="5">
            </app-review-icons> -->
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
