<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Privacy & Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header  style="padding:0 0 0 20px">
      <h4 style="color:var(--ion-color-primary)"> Refund and Returns Policy </h4>
    </ion-card-header>
    <ion-card-content>
      <h2>Overview</h2>
      <p>Our refund and return policy are only limited seven days (7) days from receipt of your purchased items/products. Beyond such thirty (30) days, a refund or exchange is no longer available.</p>

      <h2>Receipt or Proof of Purchase</h2>
      <p>Receipt or proof of purchase is required, mandatory and necessary. Returns should be addressed to our store and not to the manufacturer indicated in the item.</p>

      <h2>To be Eligible for a Full Refund/Return</h2>
      <p>To be eligible for a full refund/return within the seven (7) day period, the subject item/s must be unused and in the same condition that you received it, with the original packaging.</p>

      <h2>Partial Refunds</h2>
      <p>Partial refunds may be granted for the following reasons:</p>
      <ul>
        <li>Book with obvious signs of use</li>
        <li>CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has signs or indication of being opened</li>
        <li>Item not in its original condition, damaged, or has missing parts, through fault, error, or mistake not attributable to us</li>
        <li>Item/s returned beyond seven (7) days from receipt</li>
      </ul>

      <h2>Items Not Eligible for Refund/Return</h2>
      <p>We do not offer any refund/return for the following items:</p>
      <ul>
        <li>Perishable goods such as food, flowers, newspapers or magazines</li>
        <li>Intimate or sanitary goods, hazardous materials, or flammable liquids or gases</li>
        <li>Gift cards</li>
        <li>Downloadable software products</li>
        <li>Health and personal care items</li>
        <li>Items on sale (Only regular priced items are covered)</li>
      </ul>

      <h2>Processing Refund/Return</h2>
      <p>Once the item subject of return/refund is received and inspected by our office, an email and/or text message will be sent to your registered email address and/or registered contact number, to notify you that we have received your returned item, subject for inspection and verification. Within 3-5 days thereof, we will send another notification on whether your return/refund is approved or denied.</p>

      <h2>Late or Missing Refunds</h2>
      <p>If the fault, error, or mistake in refund is attributable to our office, as determined by your bank, please contact us at <a href="mailto:cuatechgroup@gmail.com">cuatechgroup@gmail.com</a>.</p>

      <h2>Item Exchange</h2>
      <p>Item replacement is only available for defective or damaged items, the fault, error, or mistake of which, being attributable to us.</p>
      <p>If you need to exchange it for the same item, send us an email first at <a href="mailto:cuatechgroup@gmail.com">cuatechgroup@gmail.com</a> and then send the item subject of exchange to the provided address.</p>

      <h2>Gifts</h2>
      <p>If the item purchased is classified as a “Gift,” it is the purchaser who will receive the gift credit for the value of the return, whether the return was made by the purchaser himself/herself or by the recipient of such gift.</p>
      <p>Once the returned item is received, a “Gift Certificate” will be mailed to the registered email address of the purchaser.</p>

      <h2>Shipping Returns</h2>
      <p>Kindly mail your product to the provided address. Shipping Cost are not part of the refund. The Shipper shall shoulder the shipping cost for returning the item. If the Shipper did not pay the shipping cost and later on was granted a refund, the shipping cost for the return of the item shall be deducted from the refund granted. In case of returns of expensive items, the purchaser may consider using a trackable shipping service or purchasing a shipping insurance. We shall not be responsible for any damage/defect resulting from shipping of the item.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="padding:0 0 0 20px">
      <h4 style="color:var(--ion-color-primary)"> Privacy Policy </h4>
    </ion-card-header>
    <ion-card-content>
      <h2>Data Collection</h2>
      <p>Any visitor may be asked to provide certain information. Upon obtaining consent from the visitor, we collect some data, including but not limited to comments form, visitor’s IP address and browser user agent string. Profile picture of the visitor shall only be visible after the approval by the website administrator of the pending comment.</p>
      <p>A hash or an anonymized string created from the email address you have provided may be used by the Gravatar Service to verify if the visitor is using it.</p>

      <h2>Gravatar Service</h2>
      <p>A hash or an anonymized string created from the email address you have provided may be used by the Gravatar Service to verify if the visitor is using it.</p>
      <p>The <a href="https://automattic.com/privacy/">Gravatar Service Privacy Policy</a> may be viewed here.</p>

      <h2>How long we retain your data</h2>
      <p>We store the personal information of the visitors that register on this website. All users can see, edit, or delete their personal information at any time, except that they cannot modify their usernames. Website administrators can view and edit the information provided by the visitor.</p>
      <p>Visitor’s comment and its metadata are retained indefinitely on this website, so we can recognize and approve any follow-up comments automatically, instead of holding them in a moderation queue.</p>

      <h2>Uploaded Images</h2>
      <p>Visitors may upload images to this website. To avoid other visitors from downloading and extracting any location data from your uploaded image on this website, please avoid uploading images with embedded location data (EXIF GPS).</p>

      <h2>Website Cookies</h2>
      <p>Any visitor may leave a comment on this website.</p>
      <p>For visitor’s convenience, he/she may opt-in to save his/her name, email address and website in cookies, which will last for one year, to avoid filling in the same details when leaving another comment.</p>
      <p>To determine if visitor’s browser accepts cookies, a temporary cookie which lasts two (2) days and contains no personal data and is discarded when the visitor closes the browser, is provided in the login page of this website. Another set of cookies, which lasts for a year, are also provided to save the login information and screen display choices of the visitor, upon obtaining consent. </p>
      <p> An option to select "Remember Me," is available in the login page of this website which will last for two weeks. Logging out of account at any time, will remove the saved login cookies.</p>
      <p>In editing the comment/article you have posted, upon consent, an additional cookie which does not include any personal data and expires in one (1) day, indicating the post ID of the article you just edited, will be installed in your browser.</p>
      
      <h2>Embedded Content</h2>
      <p>Embedded contents on this website, including but not limited to videos, images, articles, etc., may behave in the exact same way as if the visitor has visited such embedded contents in another website, to which the user have an account, the latter of which may collect data about you, use cookies, embed additional third-party tracking, and monitor and track your interaction with such embedded content.</p>

      <h2>Reset Password</h2>
      <p>In case that the visitor forgot his/her password to this website and opts to reset his/her password, his/her IP address will be included in the reset email.</p>

      <h2>Visitor's Rights Over Data</h2>
      <p>If the visitor has an account or has left comment/s on this website, such visitor may request to:</p>
      <ul>
        <li>Receive an exported file of any of his/her personal data available on this website</li>
        <li>Erase any of his/her personal data</li>
      </ul>
      <p>The abovementioned rights of the visitor do not include any data we are obliged to keep for administrative, legal, or security purposes.</p>

      <h2>Where we send your data</h2>
      <p>Visitor comments may be checked through an automated spam detection service.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
