ion-content{
    overflow-y: hidden;
    background-color: black;
}

.wave{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
}

.cont{
    height:100%;
    width: 100%;
    background-color: #060807;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hq{
    font-size: larger;
    color: white;
    font-weight: bolder;
    // text-shadow: -2px 2px 0 #e21818;
    margin-bottom: 5%;
}

.text{
    color: white;
}
ion-button[color="gradient-button"] {
    width: 100%;
    background: linear-gradient(45deg, blue, red);
    color: white;
    border-radius: 20px;
    // margin-left: 25%;
    margin-top: 10%;
}

ion-item{
    background-color: #696969;
    border-radius: 25px;
    margin-bottom: 5%;
    height: 55px;
}

ion-card-title, ion-card-subtitle{
    text-align: left;
}