<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="align-items: center; justify-content: center; height: 100%;">
      <ion-col size="12" style="text-align: center;">
        <ion-img src="assets/icon/purchase.svg" style="height: 150px;" alt="Order Sent"></ion-img>
        <h1 style="font-weight: bold;">Order Sent</h1>
        <h5 style="font-weight: bold;">Thank you for your purchase!</h5>
        <ion-button fill="solid" color="secondary" expand="block" (click)="goToOrders()">
          View Orders
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

